@{
    ViewBag.Title = "About";
}

<div class="bg-info text-dark">

    <h3 class="text-center bg-primary text-white">@ViewBag.Message</h3>

    <p>Здесь вы увидите описание и цены на косметику, которая имеется в наличии в нашем магазине.</p>
    <p>Вы можете потратить много времени на поиск косметики от проверенных производителей по лучшим ценам. Доверьтесь нашей экспертности - мы делаем это лучше.</p>
    <p>Кроме того, мы можем помочь определиться, что лучше использовать именно для вашей кожи в окружающих именно вас условиях.</p>
</div>