@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    <p>
        Идёте прямо<br />
        Никуда не сворачиваете<br />
        Можно смотреть по сторонам<br />
        А вот и мы
    </p>
</address>

<address>
    <strong>Если шо, звоните:</strong> три два два - два два три  <br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>