@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET Cosmetic Store</h1>
    <img src="~/Images/care2.jpg" class="img-fluid" alt="care"></div>

<div class="row">
    <div class="col-md-6">
        <div class="h2 nav-link">@Html.ActionLink("Уход за кожей и волосами", "Care", "TypeCos")</div>
        <img src="/Images/photo1.png" class="rounded float-start" alt="Крема, уход">
    </div>
    <div class="col-md-6">
        <div class="h2 nav-link">@Html.ActionLink("MakeUp cosmetics", "MakeUp", "TypeCos")</div>
        <img src="/Images/photo2.png" class="rounded float-end" alt="Декоративная косметика">
    </div>
</div>